*,
*::before,
*::after {
  box-sizing: border-box;
}
header,
footer {
  display: flex;
  justify-content: center;
  height: 7vw;
  width: 100vw;
}

a.button {
  display: flex;
  justify-content: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  margin: 10px auto;
  width: 20vw;
  border-radius: 25px;
  background-image: radial-gradient(
    rgb(255, 255, 255),
    rgb(143, 145, 143),
    rgb(0, 0, 0)
  );
}

a.button:hover {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.modified {
  color: azure;
  margin-top: 2%;
  font-size: larger;
  font-family: 'Monoton';
}
.btnp {
  position: absolute;
  font-family: 'monoton';
  color: black;
  font-size: large;
}

body {
  background-color: rgb(83, 83, 83);
  box-sizing: border-box;
  display: block;
  height: 100vh;
  width: 100vw;
}
main {
  display: flex;
  justify-content: center;
  background-image: url(https://media.giphy.com/media/l46CzTfhwdgK58v2U/giphy.gif);
  background-size: cover;
  border: 10px inset rgba(205, 207, 200, 0.733);
  height: 70vh;
  width: 100vw;
}

:root {
  --small-cell-size: 32%;
  --mark-size: calc(var(--small-cell-size) * 0.9);
}

#game {
  background-color: rgba(236, 154, 154, 0.5);
  width: 70vh;
  height: 100%;
}

.large-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width: inherit;
  height: inherit;
  grid-gap: 5px;
}

.large-cell {
  width: 100%;
  height: 100%;
  background-color: rgb(255, 251, 0);
}

.small-group-cells {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* cell */
.small-cell {
  background-color: rgb(77, 77, 77);
  position: relative;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  width: var(--small-cell-size);
  height: var(--small-cell-size);
  padding: 0;
  margin: 0;
  margin-left: 0.5px;
  margin-right: 0.5px;
  cursor: pointer;
}
.small-cell.ex,
.small-cell.circle {
  cursor: not-allowed;
}

.small-cell.ex::before,
.small-cell.ex::after,
.small-cell.circle::before {
  background-color: rgb(255, 255, 255);
}

.small-group-cells.ex .small-cell:not(.ex):not(.circle):hover::before,
.small-group-cells.ex .small-cell:not(.ex):not(.circle):hover::after,
.small-group-cells.circle .small-cell:not(.ex):not(.circle):hover::before {
  background-color: rgb(134, 134, 134);
}

.small-cell.ex::before,
.small-cell.ex::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.5);
  height: calc(var(--mark-size) * 2.5);
}

.small-cell.ex::before,
.small-group-cells.ex .small-cell:not(.ex):not(.circle):hover::before {
  transform: rotate(45deg);
}

.small-cell.ex::after,
.small-group-cells.ex .small-cell:not(.ex):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.small-cell.circle::before,
.small-cell.circle::after,
.small-group-cells.circle .small-cell:not(.ex):not(.circle):hover::before,
.small-group-cells.circle .small-cell:not(.ex):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.small-cell.circle::before,
.small-group-cells.circle .small-cell:not(.ex):not(.circle):hover::before {
  width: calc(var(--mark-size) * 2);
  height: calc(var(--mark-size) * 2);
}
.small-cell.circle::after,
.small-group-cells.circle .small-cell:not(.ex):not(.circle):hover::after {
  width: calc(var(--mark-size) * 1.2);
  height: calc(var(--mark-size) * 1.2);
  background-color: rgb(77, 77, 77);
}

.highlight {
  animation: pulseBorder 2s infinite;
}
@keyframes pulseBorder {
  0% {
    transform: scale(0.95);
    box-sizing: 100% 100%;
    border: 2px solid gold;
  }

  70% {
    transform: scale(1);
    box-sizing: 100% 100%;
    border: 2px solid gold;
  }

  100% {
    transform: scale(0.95);
    box-sizing: 100% 100%;
    border: 2px solid gold;
  }
}
